.activeLink {
  background-color: #333b48; /* Replace with your desired active link color */
  width: 100%;
  height: 46px;
  border-left: 2.9px solid #2161d1;
}

.activeImage {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg)
    brightness(104%) contrast(107%);
  color: #b3b4b4;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
